div#memory_board{
	background:#CCC;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board >img{
	/* background: url(img/font.jpg) no-repeat; */
	border:#000 1px solid;
	width:150px;
	height:150px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
/* '<img src="'+memory_array[i].thumbnail+'" width="150px" id="tile_'+i+'" onclick="memoryFlipTile(this,\''+memory_array[i]+'\')"/>'; */
 	 /* { */
		/* thumbnail:'../img/kings.jpg' */
	/* },{ */
		/* thumbnail:'../img/kings.jpg' */
	/* },{ 
		//thumbnail:'../img/queen.png'
	//},{
		//thumbnail:'../img/queen.png'
	//},{
		//thumbnail:'../img/joker.jpg'
	//},{
		//thumbnail:'../img/joker.jpg'
	//}*/